.Contacto {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.Contacto-bg {
  background-color: #f0f0f0;
}

.contactoContainer {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-image: linear-gradient(
    to right,
    #3ab5b0 0%,
    #3d99be 31%,
    #56317a 100%
  );
}

.mainContainer {
  background-image: url("../imagenes/PatronFondo.png");
  background-repeat: repeat;
  min-height: 100vh;
}

.form-control {
  margin-bottom: 20px;
}

.form-control label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control input,
.form-control textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-control textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
